# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/elegant_tile.jks
*.keystore

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
